"/01 Simple MIPS CPU/code/inputvars.def"
*.vcd
*.vvp
res.txt
"/01 Simple MIPS CPU/code/make_res.txt"
*.dat
"/01 Simple MIPS CPU/code/change_me"
*.o
*.srec
"/02 OpenMP OpenMPI/particle_filter/build/*"
"/02 OpenMP OpenMPI/particle_filter_init/build/*"
"/02 OpenMP OpenMPI/particle_filter/build/"
"/02 OpenMP OpenMPI/particle_filter_init/build/"



